<h1>Answer the Question</h1>

<p>Find me in app</p>
<h1>Coach Answer</h1>

<p><strong>You asked:</p> <%= @question %>
<p><strong>Coach says:</p> <%= @answer %>

<%= link_to "ask another question", ask_path, class: "btn btn-primary" %>
